# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
dist/
build/

# React
.coverage/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temporary files
*.tmp
*.temp

# Optional: uploads
uploads/